/**
 * Bootstrap comment form block style.
 *
 * @package rundizstrap-companion
 * @since 0.0.1
 */


.wp-block-rundizstrap-companion-blocks-bs-comment-form .comment-reply-title small {
    margin-left: 12px;
}
