/*
rundiz settings page (wp plugin).
based style
*/


.rd-settings-page pre {
    background-color: rgba(0, 0, 0, .07);/* copied from WordPress `code` CSS */
    font-family: Consolas, Monaco, monospace;/* copied from WordPress `code` CSS */
    max-height: 300px;
    overflow: auto;
    padding: .714em;
}
@media (min-height: 600px) AND (max-height: 799px) {
    .rd-settings-page pre {
        max-height: 460px;
    }
}
@media (min-height: 800px) {
    .rd-settings-page pre {
        max-height: 600px;
    }
}


.rd-settings-page table.form-table {
    table-layout: fixed;/* @link https://stackoverflow.com/questions/23266276/css-container-to-show-pre-tag-with-scroll-bars Fixed pre inside table */
}


.rd-settings-page ul {
    list-style-type: disc;
    margin-left: 2em;/* copied from WordPress `ol` CSS */
}